.login{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color:white;
    background-image: linear-gradient(79deg, #db4f39, #d482c1 48%, #f78e4d);

   
}
.login-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;

}

.login, .login-form {
    display: flex;
    flex-direction: column;


}

.login-form label{
    text-align: left;
    padding: 0.25rem 0;
}

.login-form input{
    margin: 0.5 rem 0;
    padding: 0.25rem;
    border: none;
    border-radius: 10px;
}

.login-form button{
    margin:20px;
    border: none;
    background-color: white;
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
    color: #db4f39;
}

.click-to-register-button{
    border: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    cursor: pointer;

}

.error
{
    color: rgb(255, 30, 0);
    font-weight: bolder;;
}

.register{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color:white;
    background-image: linear-gradient(79deg, #db4f39, #d482c1 48%, #f78e4d);

   
}
.register-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;

}

.register, .register-form {
    display: flex;
    flex-direction: column;


}

.register-form label{
    text-align: left;
    padding: 0.25rem 0;
}

.register-form input{
    margin: 0.5 rem 0;
    padding: 0.25rem;
    border: none;
    border-radius: 10px;
}

.register-form button{
    margin:20px;
    border: none;
    background-color: white;
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
    color: #db4f39;
}

.click-to-login-button{
    border: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    cursor: pointer;

}




.addProp{
    text-align: center;
    display: flex;
    min-height: 10vh;
    align-items: left;
    justify-content: left;
    color:black;
    background-color: whitesmoke;
    margin-top: 25px;


   
}
.addProp-container{
    padding: 5rem;
    min-height: 10vh;
    margin-top: 30px;

    border: 1px ;
    border-radius: 10px;

}

.addProp-container h2{
    color: orangered;

}

.addProp, .addProp-form {
    display: flex;
    flex-direction: column;


}

.addProp-form label{
    width: 240px;
    display: inline-block;

    text-align: left;
    padding: 0.25rem 0;
    color: orangered;
    padding-left: none;
}

.addProp-form input{
    width: 240px;
    display: inline-block;
    margin: 1rem 1rem;
    padding: 0.25rem;
    border:1px solid orangered;
    border-radius: 10px;
    justify-content: left;
}

.addProp-form button{
    margin:20px;
    border: none;
    background-color: rgb(234, 84, 20);
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 300px;
    align-self: center;

}

.click-to-add{
    border: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    cursor: pointer;

}

.error
{
    color: rgb(255, 30, 0);
    font-weight: bolder;;
}
